---
layout: slide
---

%h2 Welcome!

%h3 {{site.data.presentation.title}}

.small {{site.data.presentation.description}}

%img{src: "{{site.baseurl}}/{{site.data.links.slides.qr_code}}", class: "qr-code",  alt: "QR Code for Slides"}
