---
layout: slide

---

%h2 The Situation

%ul
  %li.fragment wanted a modern approach to bootstrapping, provisioning, and deployment
  %li.fragment starting several new Rails-backed projects
  %li.fragment already using Vagrant extensively
  %li.fragment I had built a Vagrant + Ansible development setup for 2 projects
  %li.fragment Ansible is pretty easy to learn
