---
layout: slide

---

%h2 What is Ansible

%p
  %a{href: "https://www.ansible.com/"}
    Ansible
  is really a collection of DevOps tools.

%ul
  %li It lets you bootstrap, provision, and configure hardware (inventory).
  %li.fragment You can using for deploying applications (in place of using capistrano, for example).
  %li.fragment Lots of pre-existing modules, plugins, and an API.
  %li.fragment Highly extensible

.fragment
  %h4
    And what separates it from the others:

  %ul
    %li Configuration is in simple, plain text files (ini and yaml).
