---
layout: slide

---

%h2 Initial Approach

%ul
  %li Our initial approach was to create a shell script, with static elements, that were edited before execution
  %li.fragment This proved unwieldy when going from the first to the second project startup
  %li.fragment It was very useful in prototyping what we wanted
