---
layout: slide

---

%h2 Second Approach: Thor Generator

.left-align Seeing the ridiculousness of our ways and the wisdom in our fumbling, I wrote up a Thor Generator.

%ul
  %li Specify destination, i.e. run anywhere
  %li.fragment Site Template: Ansible config, Vagrantfile, provisioning elements
  %li.fragment Rails Template: bring in all standard project gems, configuration settings, initialize the app
  %li.fragment Initialize project specifics, variables, etc.
