---
layout: slide

---

%h2 Ansible Configuration

%pre
  %code.ini
    :preserve
      [defaults]
      roles_path = ./provisioning/roles

      [ssh_connection]
      ssh_args = -o ForwardAgent=yes \
        -o ControlMaster=auto \
        -o ControlPersist=60s
