---
layout: slide

---

%h2 Modifying the Vagrantfile

.left-align The following is added to the `dev` configuration section to make Ansible work locally:

%pre
  %code.ruby
    :preserve
      dev.vm.provision :ansible do |a|
        a.playbook = "provisioning/configure.yml"
        a.inventory_path =
          "provisioning/inventories/development"
        a.verbose = "vvvv"
        a.sudo = true
      end
