---
layout: slide

---

%section

  %h2 Changing Variables
  %ul
    %li.fragment
      The variables for the project are contained under
      %code provisioning/group_vars/
      directory, named for the environment.
    %li.fragment plain text or encyrpted vaults
    %li.fragment vaults can be safely saved in a remote repo

%section
  %h2 Standardize most configurable items
  %ul
    %li.fragment application name
    %li.fragment database names
    %li.fragment deploy user
    %li.fragment paths to binaries
    %li.fragment development credentials and secrets

%section
  %h2
    Our Convention was embedded
    %br
    in our Configuration
