---
layout: slide

---

%section
  %h2 Changing Provisioning
  %ul
    %li.fragment As we went along on the various projects, we found we needed different, additional packages
    %li.fragment We also learned better ways to set up some of the existing packages and configurations

%section
  %h2 Additional Playbooks
  .left-align We added new playbooks as we discovered new needs
  %ul
    %li.fragment Internal
    %li.fragment External

%section
  %h2 Easy re-provisioning

  %pre
    %code.bash vagrant provision

%section

  %h3 This saved us tons of time
  %h3.fragment and kept our downstream provisioning and deployments clean as well
